* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background: #b0c4de;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    color: white;
 }

 nav {
   position: absolute;
     top: 2rem;
     right: 2rem;
   background: rgb(86, 127, 202);
 }
   nav ul{
     display: flex;
     flex-direction: row;
   }
   nav ul li{
     margin-right: 2rem;
   }
   nav ul li a {
     color: white;
   }


main{
  display: flex;
  flex-wrap：wrap;
  justify-content:space-between;
}

  section{
    flex: 3;
    padding: 3rem;
    background: #e6e6fa;
  }

    article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #ADD8E6;
    }

  aside{
    flex: 1;
    padding: 3rem;
    background: #0A1931;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #185ADB;
  color: white;
}
